@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --gray: #eee;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--gray);
}

ul {
  list-style: none;
  padding: 0;
}
