<form
  class="form-container"
  #form="ngForm"
  (ngSubmit)="handleSubmit(form.value, form.valid)"
  novalidate
>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Title</mat-label>
    <input
      #title="ngModel"
      matInput
      name="title"
      [ngModel]="note?.title"
      required
    />
  </mat-form-field>
  <mat-error *ngIf="title.errors?.required && title.dirty"
    >Title is a required field.</mat-error
  >
  <br />
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Description</mat-label>
    <textarea
      #description="ngModel"
      matInput
      name="description"
      required
      [ngModel]="note?.description"
    ></textarea>
  </mat-form-field>
  <mat-error *ngIf="description.errors?.required && description.dirty"
    >Description is a required field.</mat-error
  >
  <div class="form-buttons">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </div>
</form>
